h1 {
  color: goldenrod;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("table.jpeg");
  background-size: cover;
  text-align: center;
  color: white;
  font-weight: bold;
}
#message-el {
  font-style: italic;
}
#startGame-btn {
  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 5px 0;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
#newCard-btn {
  display: flex;
  justify-content: center;

  color: #016f32;
  width: 150px;
  background: goldenrod;
  padding: 5px 0;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 5px auto;
}
